$fonte: "Space mono", monospace;
$ciano-claro: hsl(193, 38%, 86%);
$ciano-escuro: hsl(192, 15%, 62%);
$az-acinzentado: hsl(217, 19%, 38%);
$az-acinzentado-escuro: hsl(217, 19%, 24%);
$azul-escuro: hsl(218, 23%, 16%);
$link: hsl(192, 76%, 56%);