$fonte: "Space mono", monospace;
$ciano-claro: hsl(193, 38%, 86%);
$verde-neon: hsl(150, 100%, 66%);
$az-acinzentado: hsl(217, 19%, 38%);
$az-acinzentado-escuro: hsl(217, 19%, 24%);
$azul-escuro: hsl(218, 23%, 16%);