/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea:focus, input:focus, select:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

body {
  background-color: #1f2632;
  font-family: "Space mono", monospace;
  color: #cee3e9;
  font-size: 25px;
  font-weight: bold;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-geral-app {
  margin: 30px;
  min-width: 500px;
  max-width: 700px;
}

.titulo {
  margin: 30px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.input-box {
  background-image: url(../../assets/icon-search.svg);
  background-repeat: no-repeat;
  background-position-x: 25px;
  background-position-y: center;
  background-color: #323a49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
}

.input-box #inserir-user {
  border: none;
  outline: none;
  background: none;
  font-family: "Space mono", monospace;
  color: #cee3e9;
  font-size: 18px;
  width: 550px;
  padding: 10px 0px  10px 60px;
}

.input-box #inserir-user::-webkit-input-placeholder {
  color: #cee3e9;
  font-size: 18px;
}

.input-box #inserir-user:-ms-input-placeholder {
  color: #cee3e9;
  font-size: 18px;
}

.input-box #inserir-user::-ms-input-placeholder {
  color: #cee3e9;
  font-size: 18px;
}

.input-box #inserir-user::placeholder {
  color: #cee3e9;
  font-size: 18px;
}

.input-box .btn-pesquisar {
  background-color: #0079FF;
  border-radius: 10px;
  font-family: "Space mono", monospace;
  color: #cee3e9;
  font-weight: bold;
  padding: 10px;
  border-color: transparent;
}

.input-box .btn-pesquisar:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.usuarios-box-externo {
  border-radius: 15px;
  padding: 10px;
  margin: 20px 10px;
  background-color: #323a49;
}

.usuarios-box-interno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  min-width: 300px;
  min-height: 200px;
  max-height: 600px;
}

.usuarios-box-interno .cabecalho-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
  max-width: 700px;
  margin-top: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.usuarios-box-interno .icon {
  width: 90px;
  height: 90px;
  border-radius: 90px;
}

.usuarios-box-interno .info-usuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 450px;
  max-height: 150px;
  font-size: 16px;
  font-weight: bold;
}

.dados-principais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 300px;
}

.dados-principais .nome {
  font-size: 25px;
}

.dados-principais .user {
  color: #0079FF;
  font-size: 12px;
  margin: 5px 0;
}

.data-criacao-conta {
  color: #cee3e9;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 220px;
  max-height: 50px;
  padding-top: 7px;
  margin-top: -63px;
  padding-left: 235px;
}

#biografia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #90a7ad;
  line-height: 25px;
  font-size: 13px;
  word-wrap: break-word;
  padding-right: auto;
  padding-top: 40px;
  max-width: 450px;
}

.box-numeros-perfil {
  background-color: #1f2632;
  border-radius: 15px;
  margin: 20px 30px;
  margin-left: 157px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 600px;
}

.numeros-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 85px;
  max-width: 100px;
}

.texto {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  color: #90a7ad;
}

#num {
  font-size: 22px;
}

.rodape-box-geral {
  width: 540px;
  margin-left: 150px;
  font-size: 14px;
}

.rodape-box-geral .rodape-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rodape-box-geral .rodape-perfil .coluna-1,
.rodape-box-geral .rodape-perfil .coluna-2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  min-width: 250px;
  max-width: 500px;
  margin: 10px 5px;
}

.rodape-box-geral .rodape-perfil .coluna-1 .localizacao,
.rodape-box-geral .rodape-perfil .coluna-1 .pagina-web,
.rodape-box-geral .rodape-perfil .coluna-1 .twitter,
.rodape-box-geral .rodape-perfil .coluna-1 .empresa,
.rodape-box-geral .rodape-perfil .coluna-2 .localizacao,
.rodape-box-geral .rodape-perfil .coluna-2 .pagina-web,
.rodape-box-geral .rodape-perfil .coluna-2 .twitter,
.rodape-box-geral .rodape-perfil .coluna-2 .empresa {
  max-width: 210px;
  margin-bottom: 15px;
  margin-left: 40px;
  margin-top: -20px;
  word-wrap: break-word;
}

.rodape-box-geral .rodape-perfil .img-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .box-geral-app {
    margin: 0px;
    min-width: 200px;
    max-width: 500px;
  }
  .input-box {
    max-width: 495px;
  }
  .input-box #inserir-user {
    width: 350px;
  }
  .input-box #inserir-user::-webkit-input-placeholder {
    font-size: 15px;
  }
  .input-box #inserir-user:-ms-input-placeholder {
    font-size: 15px;
  }
  .input-box #inserir-user::-ms-input-placeholder {
    font-size: 15px;
  }
  .input-box #inserir-user::placeholder {
    font-size: 15px;
  }
  .usuarios-box-externo {
    max-width: 500px;
  }
  .usuarios-box-interno {
    margin: 0px 30px;
  }
  .usuarios-box-interno .cabecalho-perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 120px;
    max-width: 500px;
    margin-top: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .usuarios-box-interno .dados-principais {
    max-width: 400px;
  }
  .usuarios-box-interno .dados-principais .nome {
    margin-left: 25px;
  }
  .usuarios-box-interno .dados-principais .user {
    margin-left: 25px;
  }
  .usuarios-box-interno .info-usuario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 100px;
    min-width: 300px;
    max-height: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  .data-criacao-conta {
    display: inline;
    margin-left: -210px;
    margin-top: -5px;
  }
  #biografia {
    margin-left: -90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 10px;
  }
  .box-numeros-perfil {
    margin: 80px 0px 15px -2px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 440px;
  }
  .rodape-box-geral {
    min-width: 50px;
    max-width: 300px;
    margin-left: 35px;
  }
  .rodape-box-geral .rodape-perfil {
    min-width: 50px;
    max-width: 300px;
    margin-left: -40px;
  }
  .rodape-box-geral .rodape-perfil .coluna-1,
  .rodape-box-geral .rodape-perfil .coluna-2 {
    max-width: 50px;
    margin: 10px 0px;
    padding: 0px;
  }
  .rodape-box-geral .rodape-perfil .coluna-1 .localizacao,
  .rodape-box-geral .rodape-perfil .coluna-1 .pagina-web,
  .rodape-box-geral .rodape-perfil .coluna-1 .twitter,
  .rodape-box-geral .rodape-perfil .coluna-1 .empresa,
  .rodape-box-geral .rodape-perfil .coluna-2 .localizacao,
  .rodape-box-geral .rodape-perfil .coluna-2 .pagina-web,
  .rodape-box-geral .rodape-perfil .coluna-2 .twitter,
  .rodape-box-geral .rodape-perfil .coluna-2 .empresa {
    max-width: 140px;
    margin-left: 30px;
  }
}

@media (max-width: 576px) {
  body {
    min-height: 10vh;
    max-height: 100vh;
    max-width: 100vw;
  }
  .box-geral-app {
    min-width: 100px;
    max-width: 380px;
    margin: 30px 0px 0px 0px;
  }
  .titulo {
    margin: 30px 0px;
  }
  .input-box {
    padding-left: 0px;
    margin-left: -10px;
    margin-right: -10px;
    max-width: 400px;
  }
  .input-box #inserir-user {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding-left: 60px;
  }
  .input-box #inserir-user::-webkit-input-placeholder {
    font-size: 12px;
  }
  .input-box #inserir-user:-ms-input-placeholder {
    font-size: 12px;
  }
  .input-box #inserir-user::-ms-input-placeholder {
    font-size: 12px;
  }
  .input-box #inserir-user::placeholder {
    font-size: 12px;
  }
  .input-box .btn-pesquisar {
    margin-left: -150px;
  }
  .input-box .btn-pesquisar:hover {
    -webkit-transform: none;
            transform: none;
  }
  .usuarios-box-externo {
    max-width: 400px;
    height: 520px;
    margin: 0px -10px;
  }
  .usuarios-box-interno {
    margin: 0px;
    display: inline;
  }
  .usuarios-box-interno .cabecalho-perfil {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: 10px;
  }
  .usuarios-box-interno .info-usuario {
    min-width: 40px;
    max-width: 250px;
    min-height: 10px;
    max-height: 60px;
    word-wrap: break-word;
  }
  .dados-principais .nome {
    max-height: 100px;
    margin-bottom: -5px;
  }
  .data-criacao-conta {
    display: block;
    margin-left: -210px;
    margin-top: -10px;
  }
  #biografia {
    margin-top: 8px;
    margin-left: -83px;
    display: inline;
    max-width: 400px;
  }
  .box-numeros-perfil {
    margin: 110px 13px 20px 13px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 400px;
  }
  .texto {
    font-size: 10px;
  }
  #num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rodape-box-geral {
    min-width: 100px;
    max-width: 300px;
    margin-left: 35px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .rodape-box-geral .rodape-perfil {
    display: block;
    min-width: 100px;
    max-width: 300px;
    margin-left: -15px;
  }
  .rodape-box-geral .coluna-1,
  .rodape-box-geral .coluna-2 {
    margin: 5px 5px;
  }
  .rodape-box-geral .localizacao,
  .rodape-box-geral .pagina-web,
  .rodape-box-geral .twitter,
  .rodape-box-geral .empresa {
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */